*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.game-field {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 0fr); /* Also repeat(3, auto) or auto auto auto can be used! */
    justify-items: center;
    align-items: center;
}

.cell {
   width: var(--cell-size);
   height: var(--cell-size);
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell.x::before,
.cell.x::after {
    content: "";
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.cell.x::before {
    transform: rotate(45deg);
} 

.cell.x::after {
    transform: rotate(-45deg);
}