*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    cursor: pointer;
}

.card {
    position: relative;
    width: 250px;
    height: 340px;
    transition: all 500ms linear;
    transform-style: preserve-3d;      
}

.flip {
    transform: rotateY(180deg);
}

.front, 
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-wrap: wrap-reverse;
    text-shadow: 1px 4px 10px black;
    font-style: italic;   
}

.front {
    background: linear-gradient(225deg, #DF2E38, #DDF7E3);
    z-index: 2;
    backface-visibility: hidden;   
}

.back {
    background: linear-gradient(45deg, #DF2E38, #DDF7E3);
    z-index: 1;
    transform: rotateY(180deg);   
}

/* .container:hover .card {
    transform: rotateY(180deg);
} */

